.carousel-container{
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}

.slide {
    width: 100%;
    height: 500px;
    background-image: url(https://via.placeholder.com/1080x500);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slick-arrow {
    width: 40px;
    height: 40px;
    font-size: 0;
    position: absolute;
    margin-top: 50%;
    bottom: 50%;
    z-index: 100;
    background-color: rgba(230, 227, 227, 0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slick-next {
    background-image: url(/_uploads/assets/right-arrow.png);
    right: 5px;
}

.slick-prev {
    background-image: url(/_uploads/assets/left-arrow.png);
    left: 5px;
}

.slick-dots {
    width: 100%;
    text-align: center;
}

.slick-dots li{
    display: inline-block;
    list-style: none;
    margin: 5px 7px 0 7px;
}

.slick-dots li button {
    width: 10px;
    height: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    background-image: url(/_uploads/assets/circle.png);
}
